<%-include("partials/header") -%>
<div class="box">
    <center>
        <h1 style="border-left:0px; padding:2px 20px;margin-bottom: 50px;font-size: 50px;"><%= Title %> </h1>
    </center>
    <p><%= Body %> </p>
</div>
<%-include("partials/footer") -%>